form {
    background-color: #dfe2df;
    border: none;
    color: rgb(14, 7, 7);
    padding: 16px 32px;
    text-decoration: none;
    margin: 77px 2px;
    cursor: pointer;
    
  }

.column {
    float: left;
    width: 33%;
} 

.result {
    background-color: #dfe2df;
    color: rgb(14, 7, 7);
    padding: 16px 32px;
    margin: auto 2px;
}    
#graph {
    background-color: #dfe2df;
    color: rgb(14, 7, 7);
    padding: 16px 32px 0px;
    margin: auto 2px;
}

body{
    background-color: #247cce; 
}

.navbar{
    max-height: 57px; 
}
.navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #e96d6d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: rgb(164, 197, 206); 
    font-size: 15px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7; 
}
.dropdown-item{
    color: #6D8092; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7; 
}
.nav-link:hover{
    background-color:#aaaaa4;
   }
a{
    color: #6D8092;
    font-size: 15px; 
}


.navbar-brand:hover{
color: rgb(175, 175, 175);
}



.title{
    color: #1e1e1f;  
    font-size: 50px;
    font-family: fantasy, 'Star Wars';
    font-weight: bold; 
    padding-top: 20px; 
}

p{
 color: #030b13;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px; 
}

img{
    width:auto;
    height:auto;
}

.active, .panel:hover{
    border-color:black;
    border-style: solid; 
    
}
.vizualization{
    widows: 60%;
    height:60%;
}
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: #FFFFFF; 
  }

a {
    color:black;
}


